aside {
  display : none;
  @include tabletAndDesktop {
    display: inline-block;
    width: 10%;
    background-color: map-get($colors, aside_background);
    .aside_smurf{
      width: 128px;
      height: 128px;
      -webkit-transform: translateY(30vh);
      -moz-transform: translateY(30vh);
      -ms-transform: translateY(30vh);
      -o-transform: translateY(30vh);
      transform: translateY(30vh);
      background-color: transparent;
      background-image: url("../img/img.png");
      -ms-background-position-x: 0;
      background-position-x: 0;
      -ms-background-position-y: 0;
      background-position-y: 0;
      &.aside_rotated{
        -webkit-transform: rotateZ(90deg) translateY(5px);
        -moz-transform: rotateZ(90deg) translateY(5px);
        -ms-transform: rotateZ(90deg) translateY(5px);
        -o-transform: rotateZ(90deg) translateY(5px);
        transform: rotateZ(90deg) translateY(5px);
      }
    }
  }
}
