body {
  background-color: map-get($colors, background);
  color: map-get($colors, font);
  font-family: 'Book Antiqua', 'Arial', sans-serif;
  position: relative;
  @media print {
    * {
      background-color: white;
      color: black;
    }
    aside {
      visibility: hidden;
    }
  }
}

.container{
  width: 80vw;
  margin: 1.5rem auto;
  max-width: 1200px;
}

main.container {
  margin: 0;
}

.main_container{
  display: flex;
  position: absolute;
  top: 15vh;
}
