body {

  color: map-get($colors, font);
  font-family: 'Book Antiqua', 'Arial', sans-serif;
  //position: relative;

  @include printState {
    * {
      background-color: white;
      color: black;
    }
    aside {
      visibility: hidden;
    }
  }
}
main {
  background-color: map-get($colors, background);
  @include tablet {
    background-color: map-get($colors, backgroundTablet);
  }
  @include desktop {
    background-color: map-get($colors, backgroundDesktop);
  }
}

.container{
  width: 100%;
  border: 1px solid red;
  max-width: 1200px;
  @include tabletAndDesktop {
    width: 80%;
    margin: 0 auto;
  }
}



.main_container{
  width: 100%;
  display: flex;
}



main.container {
  margin: 0;
}