body {
  background-color: map-get($colors, background);
  color: map-get($colors, font);
  font-family: 'Book Antiqua', 'Arial', sans-serif;
  position: relative;
  @include tablet {
    background-color: map-get($colors, backgroundTablet);
  }
  @include desktop {
    background-color: map-get($colors, backgroundDesktop);
  }
  @include printState {
    * {
      background-color: white;
      color: black;
    }
    aside {
      visibility: hidden;
    }
  }
}

.container{
  width: 100%;
  margin: 1em 0;
  border: 1px solid red;
  max-width: 1200px;
  @include tabletAndDesktop {
    width: 80%;
    margin: 1em auto;
  }
}



.main_container{
  width: 100%;
  display: flex;
  position: absolute;
  top: 9vh;
  left: 0;
}



main.container {
  margin: 0;
}