header {
  position: fixed;
  z-index: 1;
  background: map-get($colors, header);
  width: 100%;
  height: 9vh;
  //border: 1px solid maroon;
}

.nav_logo {
  display: inline-block;
  width: 20%;
  max-width: 80px;
  background-color: pink;
}

.nav_hamburger {
  display: inline-block;
  @include tabletAndDesktop {
    display: none;
  }
}

.nav_list1{
  display: none;
  border: 1px solid violet;
  @include tablet {
    display: inline-block;
    width: 80%;
    &:after {
      content: '';
      display: inline-block;
      clear: both;
    }
    .nav_list2_container {
      list-style: none;
      display: inline-block;
      float: right;
      margin-left: 2em;
      &:not(:first-child){
        margin-right: 2em;
      }
    }

  }
  @include desktop {
    list-style: none;
    display: inline-block;
    width: 80%;
    &:after {
      content: '';
      display: inline-block;
      clear: both;
    }

    .nav_list2_container {
      display: inline-block;
      float: right;
      margin-left: 2em;
      &:not(:first-child){
        margin-right: 2em;
      }
    }
  }
}

.nav_list2{
  display: none;
  text-align: center;
}

.nav_list2_container {
  position: relative;
  &:hover {
    .nav_list2 {
      display: block;
      li {
        display: block;
      }
    }
  }
  .nav_list2{
    position: absolute;
    width: 10vw;
    border: 1px solid black;
    border-radius: 3px;
    background: forestgreen;
    li{
      &:before {
        content: '';
        display: inline-block;
        border: 3px solid red;
        transform: rotate(45deg);
        width: 3px;
        height: 3px;
      }
    }
  }
}

.nav_link {
  color: black;
  text-decoration: none;
  display: inline-block;
  text-align: center;
}

