.projects{
  .projects_categories {
    //width: 76vw;
    //margin: 5px auto;

    .projects_item_container{
      border: 3px solid darkgreen;
      border-radius: 5px;
      width: 100%;
      @include tabletAndDesktop {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
      }


      .projects_item{
        border: 1px solid orange;
        width: 100%;
        text-align: center;
        @include tabletAndDesktop {
          width: 45%;
          margin: 2.5%;
        }
        .projects_item_photo{
          display: none;
          @include tabletAndDesktop {
            display: block;
            background-color: red;
            width: 80%;
            height: 28vh;
            //height: 548*100%/1302;
            background-size: contain;
            margin: 1em 10%;
              @for $i from 1 through 4 {
                &.photo-#{$i} {
                  @if $i == 1 {
                  background-image: url("../img/tetris1.png");
                  } @else if $i == 2 {
                    background-image: url("../img/memory1.png");
                  } @else if $i == 3 {
                    background-image: url("../img/life1.png");
                  } @else if $i ==4 {
                    background-image: url("../img/furry1.png");
                  }

              }
            }

          }
        }

        .projects_item_description{
          padding: 10px;
        }
        .projects_button {
          display: block;

        }
      }

    }
    .projects_outer_header {
      color: navy;
    }
  }

}

