.projects_header {
  font-size: 2.7em;
  text-align: center;
  padding: 0.5em;
  font-family: 'Courgette', cursive;
}

.projects_outer_header {
  font-size: 1.7em;
  text-align: center;
  padding: 0.2em;
  font-style: italic;
}

.projects_item_container {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  width: 100%;
  @include tabletAndDesktop {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-around;
    -moz-justify-content: space-evenly;
    justify-content: space-evenly;
  }
}

.projects_item{
  border: 5px solid #346666;
  -webkit-box-shadow: 0px 0px 8px darkblue;
  -moz-box-shadow: 0px 0px 8px darkblue;
  box-shadow: 0px 0px 8px darkblue;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  width: 100%;
  text-align: center;
  background-color: #14222f;
  color: #c6e6e6;
  @include tabletAndDesktop {
    width: 45%;
    margin: 2.5% 0;
    color: map-get($colors, font);
  }
  @include tablet {
    background-color: #bfbbff;
  }
  @include desktop {
    background-color: #7acbab;
    border: 5px solid #247646;
    -webkit-box-shadow: 0px 0px 8px darkgreen;
    -moz-box-shadow: 0px 0px 8px darkgreen;
    box-shadow: 0px 0px 8px darkgreen;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    &:hover {
      -webkit-transform: scale(1.02);
      -moz-transform: scale(1.02);
      -ms-transform: scale(1.02);
      -o-transform: scale(1.02);
      transform: scale(1.02);
    }
  }
}

.projects_inner_header{
  padding-top: 1em;
  font-size: 1.6em;
  @include tablet {
    text-shadow: 0 0 3px darkviolet;
  }
  @include desktop {
    text-shadow: 0 0 3px darkgreen;
    color: #014313;
  }
}

.projects_item_photo{
  display: none;
  @include tabletAndDesktop {
    display: block;
    width: 80%;
    height: 28vh;
    border: 2px solid darkblue;
    -webkit-box-shadow: 0px 0px 4px maroon;
    -moz-box-shadow: 0px 0px 4px maroon;
    box-shadow: 0px 0px 4px maroon;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: lightgrey;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    margin: 1em 10%;
    @for $i from 1 through 4 {
      &.photo-#{$i} {
        @if $i == 1 {
          background-image: url("../img/tetris1.png");
        } @else if $i == 2 {
          background-image: url("../img/memory1.png");
        } @else if $i == 3 {
          background-image: url("../img/life1.png");
        } @else if $i ==4 {
          background-image: url("../img/furry1.png");
        }
      }
    }
  }
}

.projects_item_description{
  padding: 10px;
}

.projects_button {
  text-align: center;
  margin-bottom: 1em;
  padding: 5px 10px;
  background-color: #c6e6e6;
  border: 2px solid #0d160e;
  a {
    font-weight: 800;
    text-decoration: none;
    color: #14222f;
  }
  @include tablet {
    background-color: #f2e6ff;
    border: 2px solid #26004d;
    a {
      font-weight: 700;
      color: map-get($colors, font);
    }
  }
  @include desktop {
    background-color: palegreen;
    border: 2px solid seagreen;
    a {
      color: #014313;
    }
  }
}

