$colors: (
  aside_background: #ffff80,
  font: black,
  footer: lightgrey,
  header: lightgrey,
  headerBorder: grey,
  logo: #330033,
  mainBorder: #346666,
  mainBorderShadow: darkblue,
  photoBorder: darkblue,
  photoShadow: maroon
);

$colorsSmall: (
  background: #347777,
  buttonBorder: #0d160e,
  buttonBackground: #c6e6e6,
  projectsItemColor: #c6e6e6,
  projectsItemBackground: #14222f
);

$colorsTablet: (
  background: #bfbbff,
  buttonBorder: #26004d,
  buttonBackground: #f2e6ff,
  innerHeaderTextShadow: darkviolet,
  projectsItemBackground: #bfbbff
);

$colorsDesktop: (
  background: palegreen,
  buttonBorder: seagreen,
  buttonBackground: palegreen,
  buttonFont: #014313,
  innerHeaderTextShadow: darkgreen,
  innerHeaderText: #014313,
  projectsItemBackground: #7acbab,
  projectsItemBorder: #247646,
  projectsItemBoxShadow: darkgreen
);


