$colors: (
  background: #347777,
  backgroundDesktop: palegreen,
  backgroundTablet: #bfbbff,
  header: lightgrey,
  headerBorder: grey,
  footer: lightgrey,
  font: black,
  aside_background: #ffff80
)
